* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

:root {
    --maincolor: #2F2F2F;
    --maincolordark: #1e1e1e;
    --text-color: white;
    
    /* Box colors */
    --box-1-bg: #E9165E;
    --box-1-border: #D11356;

    --box-2-bg: #9C17B4;
    --box-2-border: #8A1A9E;

    --box-3-bg: #6F3CE7;
    --box-3-border: #7D43FC;

    --box-4-bg: #4A89FB;
    --box-4-border: #3979E7;

    --box-5-bg: #179aae;
    --box-5-border: #1AB9D3;

    --box-6-bg: #7CAE3B;
    --box-6-border: #86C53E;

    --box-7-bg: #B6C61F;
    --box-7-border: #CADD08;

    --box-8-bg: #E2D317;
    --box-8-border: #F8E612;

    --box-9-bg: #E4AC00;
    --box-9-border: #FCBF01;

    --box-10-bg: #E44D0A;
    --box-10-border: #FD5607;
    --border:red;
    
}



body {
    background-color: var(--maincolor);
    color: var(--text-color);
    font-family: "Abril Fatface", serif;
}

.container {
    max-width: 96rem;
    margin: 10rem auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.flex-box {
    height: 25rem;
    background-color: black;
    width: 30%;
    border: 0.3rem solid var(--border);
   
align-items:stretch;
    display: flex;
}

.box {
    font-size: 1.6rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4rem solid var(--maincolordark);
}

.box-1 {
    background-color: var(--box-1-bg);
    border:0.4rem solid var(--box-1-border);
}

.box-2 {
    background-color: var(--box-2-bg);
    border:0.4rem solid var(--box-2-border);
}

.box-3 {
    background-color: var(--box-3-bg);
    border:0.4rem solid var(--box-3-border);
}

.box-4 {
    background-color: var(--box-4-bg);
    border: 0.4rem solid var(--box-4-border);
}

.box-5 {
    background-color: var(--box-5-bg);
    border: 0.4rem solid var(--box-5-border);
}

.box-6 {
    background-color: var(--box-6-bg);
    border: 0.4rem solid var(--box-6-border);
}

.box-7 {
    background-color: var(--box-7-bg);
    border: 0.4rem solid var(--box-7-border);
}

.box-8 {
    background-color: var(--box-8-bg);
    border: 0.4rem solid var(--box-8-border);
}

.box-9 {
    background-color: var(--box-9-bg);
    border: 0.4rem solid var(--box-9-border);
}

.box-10 {
    background-color: var(--box-10-bg);
    border:0.4rem solid var(--box-10-border);
}

.start,.center,.end{
    height: 4rem;
}
.start{
    align-self: flex-start;
}

.center{
    
    align-self: center;
}

.end{
    align-self: flex-end;
}

.strench{
    align-items: stretch;
}

.felx-center{
    align-items: center;
 
}

.strench{  
    align-self: stretch;
    align-items: center;
}

/* .box-3-baseline,.box-4-baseline,.box-5-baseline{
    height: 4rem;
} */

.box-3-baseline{
    flex-grow: 2;
    height: 4rem;
    align-self: baseline;
}

.box-4-baseline{
    flex-grow: 3;
    align-self: baseline;
    height: 6rem;
    font-weight:800;
    font-size: 3rem;
}

.box-5-baseline{
    flex-grow: 1;
    height: 2rem;
    align-self: baseline;
}

.flex-box-baseline{
    width: 80%;
    display: flex;
}