div {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    /* border: 7px solid black;  */
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../images/imresizer-1728330513905.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;

}