
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
}


.container{
    max-width: 95%;
    margin: 200px auto;
}

.accordions{
    display: flex;
    gap: 0px 20px;
    flex-wrap: wrap;
}
.accordion{
    display: flex;

    justify-content: space-between;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid #EEEEEE;

}

.accordion-box{

    /* width: calc(100% /3 - 30px); */

   gap: 20px;
 
}

.accordion-row{
    /* display: block; */
    width: 30%;
}
i{
    color: #FEA735;
    font-size: 16px;
    cursor: pointer;
}


h4{
    color: #FE7235;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 1px;
}
a{
   color:#242E42;
   font-size: 16px;
   font-weight: 600;
   text-decoration: none;
}

.accordion:hover{
    background-color: #0077FF;
    color: white;
    /* transition: 0.3s all; */
    transition-duration: 0.4s;
}

.accordion:hover a{
    color: white;
}

.accordion:hover i{
    color: white;
}

.accordion-text{
    padding: 20px;
    font-size: 15px;
    color: #737997;
letter-spacing: 1px;
display: block;
}

.none{
    display: none;
}

.hide{
    display: none;

}