.title h2{
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8b00;
    font-family: "Oswald", serif;
    font-weight: 500;

}



.teamCard img{
    width: 45%;
    height: 100%;
    border-radius: 50%;
}
.teamCard{
    
    display: flex;
    gap: 2.2rem;
    max-width: 90%;
    margin: 5rem auto;
 
}

.teamMember{
    width: calc(100% /3 - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 30px 20px;
    border-radius: 5px;
    gap: 1.4rem;
}

.teamMember:hover{
    transform: translateY(-5%);
    transition: 0.3s all;
}

.teamMember h2{
    font-size: 2rem;
    color:#ff8b00;
    text-transform: uppercase;
    font-family: "Oswald", serif;
    font-weight: 400;
}



.teamMember p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color:#B8B8B8;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}







.socialMedia{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
 
}

.socialMedia a{
    font-size: 1.6rem;
    padding:6px;
    color: white;
    background-color: #ff8b00;
    border-radius: 3px;
}

 .sosiali:hover{
    
    background-color: transparent;
}

@media (max-width:756px) {
    .teamCard{
        flex-direction: column;
    }
    .teamMember{
        width: 100%;
    }
}